<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a
              href="#"
              aria-label="Twitter"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
                fill="currentColor"
              >
                <path
                  d="M22.46 5.31c-.81.36-1.68.6-2.58.71.93-.55 1.64-1.42 1.98-2.46-.87.52-1.83.9-2.84 1.1-.81-.86-1.97-1.4-3.24-1.4-2.45 0-4.44 1.99-4.44 4.44 0 .35.04.7.09 1.04-3.69-.19-6.96-1.95-9.15-4.63-.38.65-.59 1.41-.59 2.22 0 1.53.78 2.88 1.97 3.67-.72-.02-1.39-.22-1.98-.54v.06c0 2.14 1.52 3.93 3.53 4.34-.37.1-.76.15-1.16.15-.28 0-.56-.03-.83-.08.56 1.72 2.17 2.98 4.09 3.02-1.5 1.16-3.38 1.85-5.42 1.85-.35 0-.7-.02-1.04-.06 1.93 1.23 4.21 1.95 6.67 1.95 8.01 0 12.39-6.63 12.39-12.39 0-.19 0-.37-.01-.56.85-.62 1.58-1.4 2.17-2.28z"
                />
              </svg>
              Twitter
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="#"
              aria-label="Visit our Facebook page"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-facebook"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.25 0H.75A.75.75 0 0 0 0 .75v14.5c0 .414.336.75.75.75h7.281V9.804H5.53V7.447h2.5V5.61c0-2.488 1.518-3.836 3.722-3.836 1.05 0 1.95.078 2.211.113v2.583l-1.5.001c-1.19 0-1.419.566-1.419 1.386v1.816h2.83l-.37 2.357h-2.46V16h4.813a.75.75 0 0 0 .75-.75V.75a.75.75 0 0 0-.75-.75z"
                />
              </svg>
             Facebook
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/vishnujee?tab=repositories" aria-label="GitHub" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" class="bi bi-github">
                <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.13 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.03 2.2-.82 2.2-.82.44 1.11.16 1.93.08 2.13.51.56.82 1.28.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.19 0 .21.14.46.55.38C13.71 14.53 16 11.54 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
              Github
            </a>
            
          </li>
        </ul>
        <div class="small text-center text-muted fst-italic">
          Copyright &copy; www.vishnuji.com & www.createway.in - 2023
        </div>
      </div>
    </div>
  </div>
</footer>
